<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Document</title>
</head>
<body>
    <header class = fondo > 
        <section class="encabezado-desktop">
        <nav class="encabezado">
        <figure id="logo"><img src="../images/logo-mercado-liebre.svg"></figure>
        <nav id="nav-bar"><form action=views method="POST">
          <div>
        <input type= "text" placeholder= "Buscar productos,marcas" id="Buscar productos,marcas">
        <i class="fas fa-search"></i>
   </nav></div>       </form>
  
    </nav>
        <nav class="cuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</nav>
    </section>
        <div class="header-list">
           <section class="header-1">
 
        <p>Ofertas Tiendas Oficiales Vender    Ayuda</p>
    
</section>

<section class="header-2">
    <ul>
        <li class="login-list"><a href= "/register" style="z-index:999"> Creá tu cuenta </a><i class="far fa-id-card"></i></li>
        <li class="login-list"><a href="/login"> Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
        <li class="login-list">Mis compras       <i class="fas fa-shopping-basket"></i></li>
   
    </ul></div>
</section>
    <section class="burger-menu"> <i class="fa fa-bars burger"></i></section>

    </header>
    <section class="banner">
    <img src="../images/img-home-banner.jpg">
</section>
    <main class="main">
        <section class =titulares>
          <b>Basado en tu última visita</b></section>

    <section class="ultima-visita">
    <article> 
    <img src = "../images/img-cafetera-moulinex.jpg" >
    <section class="box-article">
    <div class= "fasfa-truck"><i class="fas fa-truck" ></i></div>
    <div class = precios>$6.770
    <div class = descuentos>40% off</div>
    <div class =descripciones>Cafetera Moulinex</div>
    </article>

    <article>
    <img src= "../images/img-macbook-pro-2019.jpg">
    <section class="box-article">
    <div class= "fasfa-truck"><i class="fas fa-truck" ></i></div>
    <div class=precios>$230.000</div>
    <div class = descuentos>20% off</div>
    <div class = descripciones>MacBook Pro 2019</div>
</section>
</article>



     <article>
    <img src ="../images/img-samsung-galaxy-s10.jpg">
    <section class="box-article">
    <div class= "fasfa-truck"><i class="fas fa-truck" ></i></div>
    <div class = precios>$70.500</div>
    <div class = descuentos>10% off</div>
    <div class = descripciones>Samsung Galaxy S10</div></section>
</article> 

<article>
    <img src ="../images/img-tv-samsung-smart.jpg">
    <section class="box-article">
    <div class= "fasfa-truck"><i class="fas fa-truck" ></i></div>
        <div class =precios>$23.200</div>
    <div class = descuentos>5% off</div>
   <div class =descripciones> SmartTv Samsung 43</div></section>
</article>
        
    </section>
        <h2 class = titulares><b>Sección de ofertas</b></h2>
            <section class="ofertas">
            <article>
            <img src = "../images/img-cafetera-moulinex.jpg" >
            <section class="box-article">
            <div class= "fasfa-truck"><i class="fas fa-truck" ></i></div>
            <div class = precios>$6.770</div>
            <div class = descuentos>40% OFF</div>
            <div class =descripciones>Cafetera Moulinex</div>
            </section>
        </article>
               
<article>
    
            <img src= "../images/img-macbook-pro-2019.jpg">
            <section class="box-article">
            <div class= "fasfa-truck"><i class="fas fa-truck" ></i></div>
            <div class=precios>$230.000</div>
            <div class = descuentos>20% off</div>
            <div class = descripciones>MacBook Pro 2019</div>
        </section>
    </article>
    <article>
        
            <img src ="../images/img-samsung-galaxy-s10.jpg">
            <section class="box-article">
            <div class= "fasfa-truck"><i class="fas fa-truck" ></i></div>
            <div class = precios>$70.500</div>
            <div class = descuentos>10% off</div>
            <div class = descripciones>Samsung Galaxy S10</div>
        </section>
    </article>
    
    <article>
        
            <img src ="../images/img-tv-samsung-smart.jpg">
            <section class="box-article">
            <div class= "fasfa-truck"><i class="fas fa-truck" ></i></div>
                <div class =precios>$23.200</div>
            <div class = descuentos>5% off</div>
           <div class =descripciones> SmartTv Samsung 43</div>
        </section>
    </article>
      </section>  
    </main>
    <footer class = center>
        <section class="footer-desktop">
        <section>
          <p class = tarjeta> <i class="fas fa-credit-card"></i></p> 
               <p> <b>Pagá con tarjeta o en efectivo</b></p>
                   <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
        </section>
        <section>
            <p class = tarjeta>  <i class="fas fa-gift"></i></p> 
                <b>Envío gratis desde $ 2.500</b>
                <p>
Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <p class = tarjeta> <i class="fas fa-user-shield"></i></p>
            <b>Seguridad, de principio a fin</b>
<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
porque estás siempre protegid@.</p>
        </section>
    </section>
        <section class="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L </p>
        </section>
    
    </footer>
</body>
</html>