<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Document</title>
</head>
<body>
    <formaction=views method="POST">
        
            <p>
                <label for= "nombre de usuario" > Nombre de usuario: </label>
               <input type= "text" name= "nombre de usuario" id="nombre de usuario"> </p>
       
               <p> 
                <label for="password"> Confirmar contraseña: </label>
                <input type= "password" name= "password" id="Contraseña"> </p>
            
                <p>
                    <a href="home.html"> <input class= "boton" type= "submit" value="ENVIAR"></a></p>

</form>
  
</body>
</html>